{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <section>
        <div class="row">
            <div class="col-12 col-lg-9 my-auto order-0 order-lg-0">
                <h1 class="mb-4">Chuck Norris Facts</h1>
            </div>
            <div class="col-12 col-lg-9 order-2 order-lg-1 my-3 my-lg-auto">
                <h3>
                    Découvrez les Facts sur Chuck Norris, en Français depuis la page web ou l'API.
                </h3>
                <div class="my-3">
                    Un petit aléatoire:
                    {% set joke = jokeRand %}
                    {% include '_part/_jokecard.html.twig' %}
                </div>
                <div class="d-flex">
                    <a class="my-4 mx-auto btn btn-primary" href="{{ path('joke.rand') }}">Un autre ...</a>
                </div>
            </div>
            <div class="col-12 col-lg-3 text-center order-1 order-lg-3">
                <img src="{{ asset('assets/img/favpng/favpng_chuck-norris-facts-r1.webp') }}" width="100%" alt="Chuck Norris" style="max-width: 306px">
            </div>
        </div>


    </section>



    <section class="my-3">
        Dernière ajouté:
        {% for joke in jokes %}
            {% include '_part/_jokecard.html.twig' %}
        {% endfor %}
        <div class="d-flex">
            <a class="my-4 mx-auto btn btn-primary" href="{{ path('jokes.index') }}">Voir plus ...</a>
        </div>
    </section>
</div>
{% endblock %}
