{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="card bg-secondary text-light my-2">
        <div class="card-body">
            {{ jokeRand|raw }}
        </div>
        <div class="card-footer fs-6 row">
            <div class="col-6">
                rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <div class="col-6 text-end">
                report
            </div>
        </div>
    </div>

    Last add:
    {% for joke in jokes %}
        <div class="card bg-secondary text-light my-2">
            <div class="card-body">
                {{ joke|raw }}
            </div>
            <div class="card-footer fs-6 row">
                <div class="col-6">
                    rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <div class="col-6 text-end">
                    report
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
