<div class="spinner-border text-info text-start" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<span class="border-s-radius border-e-radius"></span>
<span class="col-6 w-50 w-75 w-md-50"></span>