<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">CHUCKN Facts API</a>
        <span class="badge rounded-pill bg-warning text-dark me-auto me-md-4">{{ count_facts }} Facts</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" id="btn_navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn nav-link {% if controller_name == "HomeController" %}active btn-primary bg-primary2 {% endif %}" {% if controller_name == "HomeController" %}aria-current="page"{% endif %} href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link {% if controller_name == "JokesController.Rand" %}active btn-primary bg-primary2 {% endif %}" {% if controller_name == "JokesController.Rand" %}aria-current="page"{% endif %} href="{{ path('joke.rand') }}">Random</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link {% if controller_name == "JokesController" %}active btn-primary bg-primary2 {% endif %}" {% if controller_name == "JokesController" %}aria-current="page"{% endif %} href="{{ path('jokes.index') }}">Facts</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link {% if controller_name == "APIController" %}active btn-primary bg-primary2 {% endif %}" {% if controller_name == "APIController" %}aria-current="page"{% endif %} href="{{ path('api.index') }}">API</a>
                </li>
            </ul>
            <div class="nav-item">
                <a class="nav-link me-0 me-lg-3 mb-3 mb-lg-0 btn {% if controller_name == "JokesController.Add" %}active btn-primary bg-primary2{% else%} btn-dark text-warning{% endif %}" href="{{ path('jokes.add') }}">Proposer Fact</a>
            </div>
            <form class="d-flex" action="{{ path('search') }}" method="get">
                <input class="form-control me-2" name="search" type="search" placeholder="Chercher un Fact" aria-label="Rechercher">
                <button class="btn btn-outline-light" type="submit">Rechercher</button>
            </form>
            {#            <ul class="navbar-nav mb-2 mb-lg-0">#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link {% if controller_name == "SecurityController" %}active{% endif %}" aria-current="page" href="{{ path('app_login') }}">Login</a>#}
            {#                </li>#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link {% if controller_name == "RegistrationController" %}active{% endif %}" href="{{ path('app_register') }}">Register</a>#}
            {#                </li>#}
            {#            </ul>#}
        </div>
    </div>
</nav>