{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello AdminSettingController!{% endblock %}

{% block adminmain %}

    {{ form_start(SettingForm) }}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            {{ form_row(jokeForm.joke) }}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {{ form_row(jokeForm.created_at) }}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {{ form_row(jokeForm.updated_at) }}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            {{ form_row(jokeForm.ratingScore) }}#}
{#        </div>#}
{#        {{ form_row(jokeForm.validated) }}#}
{#    </div>#}
{#    {{ form_row(jokeForm.Submit) }}#}
    {{ form_end(SettingForm) }}
<form method="get" action="{{ path('admin.fetch_data.run')}}">
    <button class="btn btn-info" type="submit">Fetch Data</button>
</form>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Url</th>
            <th scope="col">Nb OP</th>
            <th scope="col">Nb Rq</th>
            <th scope="col">ExecT</th>
        </tr>
        </thead>
        <tbody>


    {% for log in FetchLog %}

                <tr>
                    <th scope="row">
                        {{ log.id }}
                    </th>
                    <td>
                        {{log.dateFetch | date('Y-m-d - h:i:s')}}
                    </td>
                    <td class="text-end">
                        {{log.idStart}}
                    </td>
                    <td class="text-end">
                        {{log.idEnd}}
                    </td>
                    <td>
                        {{log.url }}
                    </td>
                    <td class="text-end">
                        {{ log.nmbOutput }}
                    </td>
                    <td class="text-end">
                        {{ log.nmbRequest }}
                    </td>
                    <td class="text-end">
                        {{ log.execTime | round(2,'floor') }} sec
                    </td>
                </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
