{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello AdminFetchDataController!{% endblock %}

{% block adminmain %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <ul>
        <li>Your controller at <code><a href="{{ '/home/cedric/chuckn_api_web/src/Controller/AdminFetchDataController.php'|file_link(0) }}">src/Controller/AdminFetchDataController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/cedric/chuckn_api_web/templates/admin_get_data/index.html.twig'|file_link(0) }}">templates/admin_get_data/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
