{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello AdminNewJokesController!{% endblock %}

{% block adminmain %}
    <div>
        <small>
            {{ jokes.getTotalItemCount }} résultats ({{ execTime }} seconde{{ (execTime > 1 ) ? 's' : '' }})
        </small>
    </div>
    <div>
        {{ form(form_add_bulks)}}
{#        <form method="post" action="{{path('admin.newjokes.addbulks')}}">#}
{#            <input type="hidden" name="token" value="{{ csrf_token('addbulks_') }}">#}
{#            <input type="text" name="number_new"> <button type="submit" >Add in Bulks</button>#}
{#        </form>#}
    </div>
    <table class="table table-dark table-hover w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Joke</th>
            <th scope="col">vote</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for joke in jokes %}
            <tr>
                <th scope="row">{{ joke.id }}</th>
                <td>{{ joke.joke }}</a></td>
                <td>{{ joke.vote }}</td>
                <td>{{ joke.createdAt|date("m/d/Y") }}</td>
                <td class="text-end"><a href="{{ path('admin.newjokes.valid', { 'id': joke.id}) }}"
                       class="btn btn-success">Valide</a>
                    <a href="{{ path('admin.newjokes.show', { 'id': joke.id}) }}"
                       class="btn btn-warning">Edit</a>
                    <a href="{{ path('admin.newjokes.del', { 'id': joke.id}) }}"
                       class="btn btn-danger">Del</a>
                </td>
{#TODO: Add JS validation for val & del#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex my-4">
        {{ knp_pagination_render(jokes) }}
    </div>
{% endblock %}
