{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block adminmain %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">req Date</th>
            <th scope="col">ip</th>
            <th scope="col">pathApi</th>
            <th scope="col">Joke</th>
            <th scope="col">res Code</th>
            <th scope="col">res Date</th>
        </tr>
        </thead>
        <tbody>


        {% for log in ApiLogs %}

            <tr>
                <th scope="row">
                    {{ log.id }}
                </th>
                <td>
                    {{log.requestDate | date('Y-m-d - h:i:s')}}
                </td>
                <td>
                    {{log.ip}}
                </td>
                <td>
                    {{log.pathApi}}
                </td>
                <td class="text-end">
                    {% for joke in log.joke %}
                        {{ joke.id }}
                    {% endfor %}
                </td>
                <td>
                    {{log.responseCode }}
                </td>
                <td class="text-end">
                    {{ log.responseDate | date('Y-m-d - h:i:s') }}
                </td>
{#                <td class="text-end">#}
{#                    {{ log.execTime | round(2,'floor') }} sec#}
{#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex my-4">
        {{ knp_pagination_render(ApiLogs) }}
    </div>
{% endblock %}
