<div class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminController" %} active{% endif %}" href="{{ path('admin.index') }}">Admin Home</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminJokesController" %} active{% endif %}" href="{{ path('admin.jokes') }}">Jokes</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminNewJokesController" %} active{% endif %}" href="{{ path('admin.newjokes.index') }}">Waiting Approval</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminReportsController" %} active{% endif %}" href="{{ path('admin.report.index') }}">Reports</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminContactController" %} active{% endif %}" href="{{ path('admin.contact.index') }}">Contact</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminSettingController" %} active{% endif %}" href="{{ path('admin.setting') }}">Setting</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminFetchDataController" %} active{% endif %}" href="{{ path('admin.fetch_data.index') }}">Fetch Data</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminApiLogsController" %} active{% endif %}" href="{{ path('admin.api_logs.index') }}">Api Logs</a>
    <a class="list-group-item list-group-item-action list-group-item-dark {% if controller_name == "AdminUserController" %} active{% endif %}" href="#">Users</a>
</div>