<ul>
    <li><a href="{{ path('admin.index') }}">Admin Home</a></li>
    <li><a href="{{ path('admin.jokes') }}">Jokes</a></li>
    <li><a href="#">Waiting Approval</a></li>
    <li><a href="#">Users</a></li>
</ul>