{% extends 'base.html.twig' %}

{% block title %}Contact - {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="row">
    <div class="col-12">
        <h1>Contact</h1>
    </div>
<div class="col-12 col-md-4 my-auto">

{#</div>#}
{#    <div class="col-12 col-md-6 mx-auto">#}
    <p class="mt-4 mt-md-0 lh-lg">
        Afin d'améliorer la qualité du projet, l'avis de nos visiteurs est particulièrement important. </p>
    <p class="lh-lg">
        N'hésitez pas à proposer tout changement que vous jugeriez opportun, ...
    </p>
    <p class="lh-lg">
        En soumettant ce formulaire, vous acceptez
{#        la politique de confidentialité de ce site Web et #}
        le stockage des informations soumises.
    </p>
</div>
    <div class="col-12 col-md-8 mt-4 mt-md-0">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
