{% extends 'base.html.twig' %}

{% block title %}Contact - {% endblock %}

{% block body %}
    <h1 class="text-center mb-5">✅ Merci ! ✅</h1>
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('/assets/img/freepng/chuck-ok.webp') }}" alt="Chuck Norris vous remercie">
        <p class="lh-lg fs-3">Merci, pour votre message.
        </p>
        <p class="lh-lg fs-3">
            C'est avec plaisir qu'un membre de la team vous répondra dans les plus brefs délais. </p>
    </div>
    <div class="text-center mt-4">
        <a href="{{ path('home')}}" class="mx-3"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="{{ path('joke.rand') }}" class="mx-3"><i class="fa-solid fa-shuffle fa-2xl"></i></a>
        <a href="{{ path('jokes.index') }}" class="mx-3"><i class="fas fa-list-alt fa-2xl"></i></a>
        <a href="{{ path('api.index') }}" class="mx-3"><i class="fas fa-cloud-upload fa-2xl"></i></a>
    </div>

{% endblock %}
