<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}Venez rire un bon coup, découvrez les Chuck Norris Facts, {{ count_facts }} facts vous attends en Français depuis le site web ou l'API. Ou proposer les vôtres.{% endblock %}">
    <meta name="keywords" content="Chuck Norris, chuck, norris, facts, joke, jokes, blaque, français, french, api, get, humour, recherche">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %} Chuck Norris Facts en français API</title>
    <meta property="og:url"           content="{{ app.request.uri() }}" />
    <meta property="og:type"          content="website" />
    {% block metaog %}
    <meta property="og:title"         content="Chuck Norris Facts en français API" />
{#    <meta property="og:description"   content="Your description" />#}
{#    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />#}
    {% endblock %}
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    {% if mySetting.snippetsHeaderEnable %}
        {{ mySetting.snippetsHeader | raw }}
    {% endif %}
</head>
<body class="text-light bg-dark">

{% include '_part/_nav.html.twig' %}

<div class="container" style="margin-top: 7rem;">
    {% block body %}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</div>
<script>
    const element = document.querySelector("#navbarToggler");
    const btnElement = document.querySelector("#btn_navbarToggler");
    document.addEventListener("click", (e) => {
        if (element.classList.contains("show") && !navbarToggler.contains(e.target)) {
            btnElement.click()
        }
    });
</script>
<script src="{{ asset('assets/js/myajax.js') }}" ></script>
{% if mySetting.snippetsFooterEnable %}
    {{ mySetting.snippetsFooter}}
{% endif %}
</body>
</html>