{% extends 'base.html.twig' %}

{% block title %}Hello JokesController!{% endblock %}

{% block body %}

    <div class="col-md-6 mx-auto">
        <h1 class="mb-4">Add Chuck Noris jokes</h1>
        {{ form(jokeForm) }}

    </div>
{% endblock %}
