{% extends 'base.html.twig' %}

{% block description %}Consulter toutes Chuck Norris Facts du site, en Français.{% endblock %}

{% block title %}Toutes les Facts - {% endblock %}

{% block body %}
<section>
    <h1 class="mb-4">Chuck Noris Facts</h1>

    <div class="d-flex my-3">
        {{ knp_pagination_render(jokes) }}
    </div>

    {% for joke in jokes %}
        {% include '_part/_jokecard.html.twig' %}
    {% endfor %}
    <div class="d-flex my-4">
        {{ knp_pagination_render(jokes) }}
    </div>

</section>
{% endblock %}
