{% extends 'base.html.twig' %}

{% block description %}Découvrez des Chuck Norris Facts de façon aléatoire, en Français.{% endblock %}

{% block title %}Random Chuck Noris fact : {{ joke.id }} - {% endblock %}

{% block body %}
    <section>
        <h1 class="mb-4">Random Chuck Noris Fact <small>({{ joke.id }})</small></h1>

        {% include '_part/_jokecard.html.twig' %}
        <div class="d-flex">
            <a class="my-4 mx-auto btn btn-primary" href="{{ path('joke.rand') }}">Un autre ...</a>
        </div>

    </section>

{% endblock %}
