{% extends 'base.html.twig' %}

{% block description %}Découvrez la Fact n°{{ joke.id }} sur Chuck Norris Facts en Français. {{ joke|raw|u.truncate(64, '...', false) }}{% endblock %}

{% block title %}le Fact n° {{ joke.id }} - {% endblock %}

{% block body %}
    <section>
        <h1 class="mb-4">Chuck Noris Fact <small>({{ joke.id }})</small></h1>

        {% include '_part/_jokecard.html.twig' %}

    </section>
{% endblock %}
