{% extends 'base.html.twig' %}

{% block description %}Découvrez la Fact n°{{ joke.id }} sur Chuck Norris Facts en Français. {{ joke|raw|u.truncate(64, '...', false) }}{% endblock %}

{% block title %}Fact n° {{ joke.id }} - {% endblock %}

{% block metaog %}
    <meta property="og:title"         content="Fact n° {{ joke.id }} - CHUCKN Facts API" />
    <meta property="og:description"   content="{{ joke.joke }}" />
{#    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />#}
{% endblock %}

{% block body %}
    <section>
        <h1 class="mb-4">Chuck Noris Fact <small>({{ joke.id }})</small></h1>

        {% include '_part/_jokecard.html.twig' %}

    </section>
{% endblock %}
