{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block adminmain %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <table class="table table table-dark table-hover ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">u/r</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">send</th>
            <th scope="col">ip</th>

        </tr>
        </thead>
        <tbody>


        {% for contact in AllContact %}

            <tr>
                <th scope="row">
                    {{ contact.id }}
                </th>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-joke-id="{{ contact.id }}" data-joke-msg="{{ contact.message }}" data-bs-toggle="modal" data-bs-target="#Modal">
                        {% if contact.readed %}
                            <i class="fas fa-envelope-open"></i>
                        {% else %}
                            <i class="fas fa-envelope"></i>
                        {% endif%}
                    </button>
                </td>
                <td>
                    {{ contact.createdAt | date('Y-m-d - h:i:s') }}
                </td>

                <td>
                    {{contact.name }}
                </td>
                <td>
                    {{contact.email}}
                </td>
                <td class="text-center">
                    {% if contact.send %}
                        <i class="fas fa-paper-plane"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif%}
                </td>
                <td>
                    {{ contact.ip }}
                </td>
                {#                <td class="text-end">#}
                {#                    {{ contact.execTime | round(2,'floor') }} sec#}
                {#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex my-4">
        {{ knp_pagination_render(AllContact) }}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark border-secondary">
                <div class="modal-header bg-primary border-secondary">
                    <h5 class="modal-title fs-6" id="ModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-4 py-4">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

    <script>
        const myModalEl = document.getElementById('Modal');
        const myModalTitle = document.querySelector('.modal-title');
        const myModalBody = document.querySelector('.modal-body');
        let sourceTarget;
        let msg_id;
        myModalEl.addEventListener('show.bs.modal', function (event) {
            // console.log('open modale')
            // console.log(event.explicitOriginalTarget.attributes['data-joke-id'].value)
            sourceTarget = event.explicitOriginalTarget;
            msg_id = event.explicitOriginalTarget.attributes['data-joke-id'];
            if (!msg_id) {
                // console.log(event.explicitOriginalTarget.parentNode);
                sourceTarget = event.explicitOriginalTarget.parentNode;
                msg_id = event.explicitOriginalTarget.parentNode.attributes['data-joke-id'];
            }
            // AJAX START
            let read_url = '/admin/contact/read/'+msg_id.value;
            let divModal = document.querySelector('#modal_body_'+event.target.id.split('_')[1]);

            myModalBody.innerHTML = '<div class="spinner-border text-info" role="status">\n' +
                '  <span class="visually-hidden">Loading...</span>\n' +
                '</div>';
            let paramsget = 'ajax=post';
            let xmlhttp = ajaxReq();
            xmlhttp.open("POST", read_url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.setRequestHeader("Neant", "AJAX");
            xmlhttp.send(paramsget);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    try {
                        let response = xmlhttp.responseText;
                        response = response.split("[[%CUT%]]");
                        myModalTitle.innerHTML = response[0];
                        myModalBody.innerHTML = response[1];
                    } catch (error) {
                        myModalTitle.innerHTML = 'error: ajax';
                        myModalBody.innerHTML = error;
                    }
                }
            }
            // AJAX END
        })

        myModalEl.addEventListener('hidden.bs.modal', function (event) {
            // console.log('close modale')
            // console.log(sourceTarget);
            sourceTarget.innerHTML = '<i class="fas fa-envelope-open"></i>'
            myModalTitle.innerText = '';
            myModalBody.innerText = '';
        })


    </script>

{% endblock %}
